---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
---

<Layout title="Zenthyr - Clojure Desktop Application Framework">
  <main>
    <Hero />
    <Features />
  </main>
</Layout>